@(user: securesocial.core.Identity, token: String)(implicit request: RequestHeader)
@import securesocial.core.IdentityProvider

Hello @user.firstName,
<br><br>
To reset your password, please click the URL below. This is a one-time use link and is valid for 10 minutes only.
<br><br>
<a href="@securesocial.core.providers.utils.RoutesHelper.resetPassword(token).absoluteURL(IdentityProvider.sslEnabled)">Reset Now</a>
<br><br>
If you have received this message in error, please disregard and delete this email.
<br><br>

<b style = "color:red"> Its an Automatic mail, please don't reply</b><br>
Thanks & Regards,
AutoManage Team

