@(resetForm:Form[(String, String)], token: String)(implicit request: RequestHeader)

@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main("Password Reset") {

<div class="login_box" style="height:50%;">
    <p style="background-color:#F32D27;text-align:center;border:20px;padding:30px;margin-bottom:10px;font-size:24px;">
        Reset Password</p>

    <div class="login_control">
        <form
                action="@securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)"
                autocomplete="off"
                method="POST">
            <h3 class ="label">New Password</h3>
            <input class="form-control" type="password" name="password.password1">
            <h3 class ="label">confirm Password</h3>
            <input class="form-control" type="password" name="password.password2"/>
            <button id="resetSubmit" class="btn btn-lg btn-danger" type="submit">Confirm</button>
            <a class="btn btn-sm btn-outline-inverse"
               href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
        </form>
    </div>
</div>

}
