@(startForm:Form[String])(implicit request: RequestHeader)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main("Password Reset") {
@request.flash.get("error").map { msg =>
<div class="alertError">
    @Messages(msg)
</div>
}
<div class="login_box" style="height:40%">
    <p style="background-color:#F32D27;text-align:center;border:20px;padding:30px;margin-bottom:10px;font-size:24px;">
        Reset Password</p>

    <div class="login_control">
        <form action="@securesocial.core.providers.utils.RoutesHelper.handleStartResetPassword().absoluteURL(IdentityProvider.sslEnabled)"
              class="form-horizontal"
              autocomplete="off"
              method="POST"
                >
            <fieldset>
                <h3 class="label"> Email Address <span class="requiredElement"> required</span></h3>
                <input type="text" id="email" name="email" class="form-control"/>

                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-danger">@Messages("securesocial.password.reset")
                    </button>
                    <a class="btn btn-sm btn-outline-inverse"
                       href="@securesocial.core.providers.utils.RoutesHelper.login()">@Messages("securesocial.signup.cancel")</a>
                </div>

            </fieldset>
        </form>
    </div>
    <p class="requiredElement" style="font-size:13px;margin:5px auto;" align="center">
        <span class="glyphicon glyphicon-asterisk"></span> After Password Reset, Check your email <span
            class="glyphicon glyphicon-envelope"></span> for Password Reset Link
    </p>
</div>
}