@(passwordChangeForm:Form[securesocial.controllers.PasswordChange.ChangeInfo])(implicit request: RequestHeader)
@import securesocial.core.providers.UsernamePasswordProvider
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main("Password Change") {

@request.flash.get("error").map { msg =>
<div class="alertError">
    @msg
</div>
}
    @if( request.flash.get("success").isDefined ) {
<div class="login_box" style="height:20%">
    <p style="background-color:#F32D27;text-align:center;border:20px;padding:30px;margin-bottom:10px;font-size:24px;">
        @request.flash.get("success").get</p>
    <div class="form-actions">
        <a class="btn btn-lg btn-danger" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.passwordChange.okButton")</a>
    </div>
</div>
    } else {
<div class="login_box" style="height:55%">
    <p style="background-color:#F32D27;text-align:center;border:20px;padding:30px;margin-bottom:10px;font-size:24px;">
        Change Password</p>
    <div class="login_control">
        <form action="@securesocial.core.providers.utils.RoutesHelper.handlePasswordChange.absoluteURL(IdentityProvider.sslEnabled)"
              class="form-horizontal"
              autocomplete="off"
              method="POST"
                >
            <fieldset>
                <h3 class ="label">Current Password <span class ="requiredElement"> required</span></h3>
                <input type="password" id="currentPassword" name="currentPassword" class="form-control">
                <h3 class ="label">New Password  <span class ="requiredElement"> required</span> </h3>
                <input type="password" id="newPassword_password1" name="newPassword.password1" class="form-control">
                <h3 class ="label">Confirm Password  <span class ="requiredElement"> required</span> </h3>
                <input type="password" id="newPassword_password2" name="newPassword.password2" class="form-control">
                <div class="form-actions">
                    <button type="submit" class="btn btn-lg btn-danger">
                        @Messages("securesocial.passwordChange.changeButton")
                    </button>
                    <a class="btn btn-sm btn-outline-inverse" href="@securesocial.controllers.ProviderController.toUrl(request.session)">@Messages("securesocial.signup.cancel")</a>
                </div>
            </fieldset>
        </form>
    </div>
</div>
}
}